reporting.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sat Dec 02 2017 01:27:14 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="reporting">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="technicalInformation">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="xmlRefId" type="xs:string"></xs:element>
                                             <xs:element name="userId" type="xs:string"></xs:element>
                                             <xs:element name="extractDateTime" type="xs:int"></xs:element>
                                             <xs:element name="clientCode" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="document">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="recipients" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="recipient">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="channelCode" type="xs:string"></xs:element>
                                                                                 <xs:element name="copyType" type="xs:string"></xs:element>
                                                                                 <xs:element name="id" type="xs:int"></xs:element>
                                                                                 <xs:element name="name" type="xs:string"></xs:element>
                                                                                 <xs:element name="fax" type="xs:int"></xs:element>
                                                                                  <xs:element name="email" type="xs:string"></xs:element>
                                                                                   <xs:element name="phone" type="xs:int"></xs:element>
                                                                                 <xs:element name="reportingLanguage" type="xs:string"></xs:element>
                                                                                 <xs:element name="country" type="xs:string"></xs:element>
                                                                                 <xs:element name="address">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="line" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="docInfo">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="status" type="xs:string"></xs:element>
                                                               <xs:element name="documentType" type="xs:string"></xs:element>
                                                               <xs:element name="documentSubTypeCode" type="xs:string"></xs:element>
                                                               <xs:element name="issueDate" type="xs:int"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="investor">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="accountNumber" maxOccurs="unbounded"></xs:element>
                                                               <xs:element name="designation"></xs:element>
                                                               <xs:element name="designationOld"></xs:element>
                                                               <xs:element name="investorType"></xs:element>
                                                               <xs:element name="id"></xs:element>
                                                               <xs:element name="name"></xs:element>
                                                               <xs:element name="nameOld"></xs:element>
                                                               <xs:element name="contactName"></xs:element>
                                                               <xs:element name="gender"></xs:element>
                                                               <xs:element name="externalReference"></xs:element>
                                                               <xs:element name="languageCode"></xs:element>
                                                               <xs:element name="currency"></xs:element>
                                                               <xs:element name="citizenship"></xs:element>
                                                               <xs:element name="countryDomicile"></xs:element>
                                                               <xs:element name="title"></xs:element>
                                                               <xs:element name="address">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="line" maxOccurs="unbounded"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="agent">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="id"></xs:element>
                                                               <xs:element name="name"></xs:element>
                                                               <xs:element name="contactName"></xs:element>
                                                               <xs:element name="accountNumber"></xs:element>
                                                               <xs:element name="designation"></xs:element>
                                                               <xs:element name="languageCode"></xs:element>
                                                               <xs:element name="currency"></xs:element>
                                                               <xs:element name="officeCode"></xs:element>
                                                               <xs:element name="address">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="line" maxOccurs="unbounded"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="customerContact">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="contactName" type="xs:string"></xs:element>
                                                               <xs:element name="phone" type="xs:string"></xs:element>
                                                               <xs:element name="fax" type="xs:string"></xs:element>
                                                               <xs:element name="email" type="xs:string"></xs:element>
                                                               <xs:element name="address">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="line" maxOccurs="unbounded"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="transferAgent">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="id" type="xs:string"></xs:element>
                                                               <xs:element name="name" type="xs:string"></xs:element>
                                                               <xs:element name="contactName"></xs:element>
                                                               <xs:element name="phone" type="xs:string"></xs:element>
                                                               <xs:element name="fax" type="xs:string"></xs:element>
                                                               <xs:element name="email" type="xs:string"></xs:element>
                                                               <xs:element name="address">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="line" maxOccurs="unbounded"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="managementCompany">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="id" type="xs:int"></xs:element>
                                                               <xs:element name="name" type="xs:string"></xs:element>
                                                               <xs:element name="longName" type="xs:string"></xs:element>
                                                               <xs:element name="address">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="line" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="country" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="fund">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="fundName"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="docRef" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="counts">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="recipientCount"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>